
html, body {
  background-color: #123;
  font-family: monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#output {
  background-color: #111;
  color: #eee;
  width: 99.2%;
  height: 80%;
  margin: 0;
  padding: 5px;
  text-align: left;
  overflow: auto;
}

#input {
  background-color: #fefefe;
  width: 98.8%;
  margin: 0;
  margin-top: 5px;
  padding: 5px;
  font-family: monospace;
}

.roomName {
  color: #ffffaa;
}

.roomDesc {
  color: #ababff;
}

.roomExits {
  color: #abffab;
}

.divider {
  color: #676767;
}

.error {
  color: #ffabab;
}
