
html, body {
  background-color: #123;
  font-family: monospace;
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: left;
}

table, tr, td {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

img, div {
  margin: 0;
  padding: 0;
}

#app {
  background-color: #111;
}

#output {
  background-color: #111;
  color: #eee;
  width:  800px;
  height: 400px;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow: auto;
}

#context {
  background-color: #222;
  color: #eee;
  width: 200px;
  height: 400px;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow: auto;
}

#actions {
  background-color: #222;
  width: 1000px;
  padding: 0;
  margin: 0;
  text-align: left;
}

#log {
  background-color: #222;
  color: #aaa;
  width: 1000px;
  height: 100px;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  text-align: left;
  overflow: auto;
  font-size: 12px;
}

.actionIcon {
  width: 50px;
  border: 2px solid black;
}

.actionReady {
  border: 2px solid green;
  opacity: 1.0;
}

.actionNotReady {
  border: 2px solid red;
  opacity: 0.1;
}

#input {
  background-color: #cecece;
  width: 1000px;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#popup {
  display: none;
  position: absolute;
  border: 2px solid #987;
  background-color: #123;
  color: #fff;
  text-align: left;
  padding: 5px;
  font-size: 12px;
}

.popupName {
  text-align: center;
  font-size: 14px;
  color: #ff0;
}

.popupDesc {
  font-style: italic;
  padding: 5px;
}

.popupID {
  color: #888;
}

.roomName {
  color: #ffffaa;
}

.roomDesc {
  color: #ababff;
}

.roomExit {
  color: #abffab;
  border-bottom: 1px solid #abffab;
}

.roomMob {
  color: #c8c8de;
  border-bottom: 1px solid white;
}

.divider {
  color: #676767;
}

.error {
  color: #ffabab;
}

.settingsValue {
  color: #a9a9ff;
}

.newLogMessage {
  color: #890;
}

.oldLogMessage {
  color: #888;
}

.speechPrefix {
  color: #bc7abc;
  font-style: normal;
}

.speech {
  color: #000;
  background-color: #fff;
  font-style: normal;
  padding-left: 3px;
  padding-right: 3px;
}
