
html, body {
  background-color: #111;
  font-family: monospace;
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

td {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

#layout {
  color: #eee;
  margin: 5px;
}

#context {
  color: #fff;
  width: 200px;
  height: 450px;
  text-align: left;
  font-size: 13px;
}

#actions {
  width: 1000px;
  text-align: left;
}

#log {
  color: #aaa;
  width: 100%;
  height: 100px;
  padding-top: 5px;
  overflow: auto;
  font-size: 12px;
}

#input {
  background-color: #cecece;
  width: 1000px;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#popup {
  display: none;
  position: absolute;
  border: 2px solid #987;
  background-color: #123;
  color: #fff;
  text-align: left;
  padding: 5px;
  font-size: 12px;
  width: 200px;
}

#dhammaTitle {
  color: yellow;
  font-size: 18px;
  text-align: center;
}

#dhammaSubTitle {
  color: #88a;
  font-size: 16px;
  text-align: center;
}

#dhammaText {
  color: white;
  font-size: 12px;
  text-align: left;
}

.contextPopup {
  border: 2px solid #987;
  background-color: #123;
  color: #fff;
  padding: 5px;
  font-size: 12px;
}

.actionIcon {
  width: 50px;
  border: 2px solid black;
}

.actionReady {
  border: 2px solid green;
  opacity: 1.0;
}

.actionNotReady {
  border: 2px solid red;
  opacity: 0.1;
}

.popupName {
  text-align: center;
  font-size: 14px;
  color: #ff0;
}

.popupDesc {
  font-style: italic;
  padding: 5px;
}

.popupImage {
  width: 25px;
  height: 25px;
  float: left;
}

.roomName {
  color: #ffffaa;
}

.roomDesc {
  color: #ababff;
}

.entityList {
  padding: 3px;
}

.roomExit {
  color: #abffab;
  border-bottom: 1px solid #abffab;
}

.roomMob {
  color: #c8c8de;
  border-bottom: 1px solid white;
}

.roomMob.targeted {
  border: 1px solid #987;
  background-color: #123;
  color: #ff0;
}

.roomItem {
  color: #c8c8de;
  border-bottom: 1px solid #c8c8de;
}

.newLogMessage {
  color: #dee;
}

.oldLogMessage {
  color: #666;
}
